ol{
  /*Убераем стандартную нумерацию*/
  list-style: none;
  /*Идентифицируем счётчик и даём ему имя li*/
  counter-reset: li;
} 
ol li:before{
  /*Определяется элемент, который будет нумероваться - li*/
  /*Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет распологаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1)*/
  counter-increment: li;
  /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
  content: counters(li, ".") ". ";
}